@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?98747017');
  src: url('../font/fontello.eot?98747017#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?98747017') format('woff2'),
       url('../font/fontello.woff?98747017') format('woff'),
       url('../font/fontello.ttf?98747017') format('truetype'),
       url('../font/fontello.svg?98747017#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?98747017#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-facebook-rect:before { content: '\f301'; font-size: 60px;} /* '' */
.icon-mail:before { content: '\e800'; font-size: 60px; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; font-size: 60px;} /* '' */


.icon-pin:before { content: '\e801'; font-size: 150px; color: black; font-weight: 700; margin-top: 85px;} /* '' */
.icon-hand-pointer-o:before { content: '\f25a'; font-size: 150px; color: black; font-weight: 700; margin-top: 85px;} /* '' */
.icon-emo-wink:before { content: '\e803'; font-size: 150px; color: black; font-weight: 700; margin-top: 85px;} /* '' */
.icon-handshake-o:before { content: '\f2b5'; font-size: 150px; color: black; font-weight: 700; margin-top: 85px;} /* '' */

 @media screen and (max-width: 1050px) {
	.icon-emo-wink:before { content: '\e803'; font-size: 120px; color: black; font-weight: 700; margin-top: 85px;}
	.icon-hand-pointer-o:before { content: '\f25a'; font-size: 120px; color: black; font-weight: 700; margin-top: 85px;}
	.icon-pin:before { content: '\e801'; font-size: 120px; color: black; font-weight: 700; margin-top: 85px;} /* '' */
	.icon-handshake-o:before { content: '\f2b5'; font-size: 120px; color: black; font-weight: 700; margin-top: 85px;} /* '' */
	
	.icon-facebook-rect:before { content: '\f301'; font-size: 60px;} /* '' */
	.icon-mail:before { content: '\e800'; font-size: 60px;} /* '' */
	.icon-mail-alt:before { content: '\f0e0'; font-size: 60px;} /* '' */
 }
 
 @media screen and (max-width: 860px) {
	 .icon-emo-wink:before { content: '\e803'; font-size: 120px; color: black; font-weight: 700; margin-top: 85px;}
	 .icon-hand-pointer-o:before { content: '\f25a'; font-size: 120px; color: black; font-weight: 700; margin-top: 85px;}
	 .icon-pin:before { content: '\e801'; font-size: 120px; color: black; font-weight: 700; margin-top: 85px;} /* '' */
	 .icon-handshake-o:before { content: '\f2b5'; font-size: 120px; color: black; font-weight: 700; margin-top: 85px;} /* '' */
	 .icon-facebook-rect:before { content: '\f301'; font-size: 55px;} /* '' */
	.icon-mail:before { content: '\e800'; font-size: 55px;} /* '' */
	.icon-mail-alt:before { content: '\f0e0'; font-size: 55px;} /* '' */
 } 
 
 @media screen and (max-width: 768px) {
	 .icon-emo-wink:before { content: '\e803'; font-size: 100px; color: black; font-weight: 700; margin-top: 85px;}
	 .icon-hand-pointer-o:before { content: '\f25a'; font-size: 100px; color: black; font-weight: 700; margin-top: 85px;}
	 .icon-pin:before { content: '\e801'; font-size: 100px; color: black; font-weight: 700; margin-top: 85px;} /* '' */
	 .icon-handshake-o:before { content: '\f2b5'; font-size: 100px; color: black; font-weight: 700; margin-top: 85px;} /* '' */
	 .icon-facebook-rect:before { content: '\f301'; font-size: 50px;} /* '' */
	 .icon-mail:before { content: '\e800'; font-size: 50px;} /* '' */
	 .icon-mail-alt:before { content: '\f0e0'; font-size: 50px;} /* '' */
 }
 
 @media screen and (max-width: 460px) {
	 .icon-emo-wink:before { content: '\e803'; font-size: 60px; color: black; font-weight: 700; margin-top: 85px; display: none;}
	 .icon-hand-pointer-o:before { content: '\f25a'; font-size: 60px; color: black; font-weight: 700; margin-top: 85px; display: none;}
	 .icon-pin:before { content: '\e801'; font-size: 60px; color: black; font-weight: 700; margin-top: 85px; display: none;} /* '' */
	 .icon-handshake-o:before { content: '\f2b5'; font-size: 60px; color: black; font-weight: 700; margin-top: 85px; display: none;} /* '' */
	 
	 .icon-facebook-rect:before { content: '\f301'; font-size: 35px;} /* '' */
 	 .icon-mail:before { content: '\e800'; font-size: 35px;} /* '' */
	 .icon-mail-alt:before { content: '\f0e0'; font-size: 35px;} /* '' */
 }
 
 @media screen and (max-width: 540px) and (max-height: 320px) {

	.icon-emo-wink:before { content: '\e803'; font-size: 60px; color: black; font-weight: 700; margin-top: 85px; display: none;}
	 .icon-hand-pointer-o:before { content: '\f25a'; font-size: 60px; color: black; font-weight: 700; margin-top: 85px; display: none;}
	 .icon-pin:before { content: '\e801'; font-size: 60px; color: black; font-weight: 700; margin-top: 85px; display: none;} /* '' */
	 .icon-handshake-o:before { content: '\f2b5'; font-size: 60px; color: black; font-weight: 700; margin-top: 85px; display: none;} /* '' */
	 
	 	 .icon-facebook-rect:before { content: '\f301'; font-size: 35px;} /* '' */
 	 .icon-mail:before { content: '\e800'; font-size: 35px;} /* '' */
	 .icon-mail-alt:before { content: '\f0e0'; font-size: 35px;} /* '' */
	
}


@media screen and (max-width: 700px) and (max-height: 400px) {

	.icon-emo-wink:before { content: '\e803'; font-size: 60px; color: black; font-weight: 700; margin-top: 85px; display: none;}
	 .icon-hand-pointer-o:before { content: '\f25a'; font-size: 60px; color: black; font-weight: 700; margin-top: 85px; display: none;}
	 .icon-pin:before { content: '\e801'; font-size: 60px; color: black; font-weight: 700; margin-top: 85px; display: none;} /* '' */
	 .icon-handshake-o:before { content: '\f2b5'; font-size: 60px; color: black; font-weight: 700; margin-top: 85px; display: none;} /* '' */
	 
	 .icon-facebook-rect:before { content: '\f301'; font-size: 35px;} /* '' */
 	 .icon-mail:before { content: '\e800'; font-size: 35px;} /* '' */
	 .icon-mail-alt:before { content: '\f0e0'; font-size: 35px;} /* '' */
	
}

@media screen and (max-width: 510px) and (max-height: 320px) {
	 .icon-facebook-rect:before { content: '\f301'; font-size: 25px;} /* '' */
 	 .icon-mail:before { content: '\e800'; font-size: 25px;} /* '' */
	 .icon-mail-alt:before { content: '\f0e0'; font-size: 25px;} /* '' */
	
}